.sidebar {
  /* border-right: 1px solid #e0e0e0; */
  background-color: #ebe4cf;
}

.order-type-bg {
  background: #fffbb0;
}

.bg-checkbox {
  background-color: black;
  height: 3.5rem;
}
.hover-box,
.hover-box-red {
  transition: box-shadow 0.2s linear;
}

.hover-box-red:hover {
  box-shadow: 4px 4px #ef604b;
}

.hover-box:hover {
  box-shadow: 4px 4px black;
}
.right-shadow {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}
